<div class='container'>

    <h1 class='mt-5 text-center'>No busques mas Cordenadas ! 😎 </h1>

    <form action='/places/create' method='post' class='pt-5'>
        <div class='form-group'>
            <label for='name'>Nombre del local o establecimiento</label>
            <input type='text' class='form-control loc' id='name' name='name' />
        </div>
        <div class='form-group'>
            <label for='location'>Localidad</label>
            <input type='text' class='form-control loc' id='location' disabled />
        </div>
        <div class='form-group'>
            <label for='lat'>lat cord</label>
            <input type='text' class='form-control cords' id='lat' name='lat' readonly />
        </div>
        <div class='form-group'>
            <label for='lng'>lng cord</label>
            <input type='text' class='form-control cords' id='lng' name='lng' readonly />
        </div>

        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>

    <div class='map'></div>

    <script src='/js/apiGoogle.js'></script>
    <script src='https://maps.googleapis.com/maps/api/js?key={{myApiCode}}&callback=noseComoCojonesQuitarElCallback'></script>

</div>