<h1>Crear nuevo lugar</h1>

<form method="POST" action="/lugar/crear">

    <label>Nombre
        <input name="name" type="text">
    </label>
    <br><br>

    <label>Descripción
        <input name="description" type="text">
    </label>
    <br><br>

    <label>Latitud
        <input name="lat" type="text">
    </label>
    <br><br>

    <label>Longitud
        <input name="lng" type="text">
    </label>
    <br><br>

    <input type="submit" class =value="Crear lugar">

</form>