    <div class="row">
        <div class="col col-6 offset-3">
            <h1>New Celebrity</h1>
            {{#if errorMessage}}
            <div
                style="margin-top: 20px; padding: 5px; color: white; background: red; text-align: center; font-size: .95em">
                {{errorMessage}}</div>
            {{/if}}

            <form action="/places/create" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="type">Type</label>
                <input class="form-control" type="text" id="type" name="type">
            </div>
            <div class="mb-3">
                <label class="form-label" for="latitude">Latitude</label>
                <input class="form-control" type="text" id="latitude" name="latitude">
            </div>
            <div class="mb-3">
                <label class="form-label" for="longitude">Longitude</label>
                <input class="form-control" type="text" id="longitude" name="longitude">
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add new place</button>
            </div>
            
        
        </form>



    </div>