<h1>{{name}} Details</h1>
<p>{{type}}</p>
<form   method="POST" action="/places/delete/{{id}}"><button type="submit">Delete</button></form>
<button><a href="/places/edit?place_id={{id}}">Edit</a></button>