<h1>Listado de lugares</h1>

<div id="placesList"></div>

{{!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> --}}
<script src="/js/places-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}&callback=initMap"></script>