<div class="container">
    <h1>Esto es un mapa básico</h1>

    <figure id="map"></figure>

    <script src="/javascripts/map-styles.js"></script>
    <script src="/javascripts/map-directions.js"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXLZ6iOpMoDevAJAZ_z2QIVVH7JL2JhFI&callback=initMap">
</script>
</div>
