<div class="container">

  <h1>Detalles de la cafetería:</h1>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-9">

      <h2><strong>{{coffee.name}}</strong></h2>
      <hr>

      <h3>{{coffee.description}}</h3>
      <hr>

    </div>
  </div>
 
</div>