<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-3 text-center">
      <h1>{{title}}</h1>
      <p>Welcome to all books and coffee lovers</p>
    </div>
  </div>

</div>