<div class="container">
    <h1>Inicio 🚀</h1>
    <hr>
    <a href="/places/create" class="btn btn-dark">Place Crear</a>
    <hr>
    <a href="/places" class="btn btn-dark">All Places</a>
    <a href="/api/locations" class="btn btn-dark">JSON</a>

</div>