<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="text-center">Bienvenidos a {{title}}</h1>
      <hr>
      <div class="row justify-content-around mt-5">
        <a href="/register-place"><button type="button" class="btn btn-outline-dark">Registra tu
            establecimiento</button></a>
        <a href="/see-places"><button type="button" class="btn btn-outline-dark">Busca un establecimiento</button></a>
      </div>
    </div>
  </div>
</div>