<div class="container">

  <div class="row justify-content-left">

    <div class="col-md-12">

      <h1>{{title}}</h1>
      <hr>


      <p>Welcome to {{title}}</p>
      <a href="/lugares" class="btn btn-dark">Listado</a>

    </div>
  </div>

</div>