<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
<form method="get" action="/places/create"><button type="submit" value="Create">Create</button></form>
<form method="get" action="/"><button type="submit" value="Create">home</button></form>
<form method="get" action="/places/list"><button type="submit" value="Create">List</button></form>

   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>