<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a>__ BOOKS & COFFEE __</a>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/places">Nuestros sitios</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/map">Mapa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/places/new">Nuevo sitio</a>
      </li>
       </li>
    </ul>
  </div>
</nav>
<main>
{{{body}}}


</main>
 

  <script src="/javascripts/script.js"></script>
</body>

</html>