<div class="container">
  <h1>"Coffee shop and Book store" LIST</h1>
  <hr>

  <ul>
    {{#each places}}
    <li>{{name}}
      <p><br>
        <a class="btn btn-dark" href="/edit/{{id}}">Edit</a>
        <span>or</span>
      <form method="POST" action="/place/{{id}}/delete">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      </p>
    </li>
    <hr>
    {{/each}}
  </ul>

  <figure id="coffee-shops-map"></figure>
  <a href="/create-new-place" class="btn btn-success">Create a new PLACE</a>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/javascripts/places-map-config.js"></script> 
  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
</div>