<div id="myMap"></div>



<script src="/js/directions.js"></script>
<script src="/js/map-setup.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9EmDbEWzoChdQWaZQn_OrKGnUHsF1Clk&callback=initMap"></script>