<div id="map"></div>


{{!-- Scrips para la gestión del mapa en la vista --}}

<script>
    /*   function initMap() {
   
   
           const myMap = new google.maps.Map(
               document.querySelector('#myMap'),
               {
                   zoom: 16,
                   center: directions.ironhackBCN.coords,
                   styles: mapStyles.silver
               }
           )
   
           new google.maps.Marker({
               map: myMap,
               position: directions.ironhackBCN.coords,
               title: 'Aquí estamos viendo mapas yay'
           })
   
       }*/


    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,

            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: 'Aquí estamos viendo mapas yay'
        });
    }




</script>

{{!-- <scriptsrc="https: //maps.googleapis.com
    /maps/api/js?key=AIzaSyCOOlaLy5WDpDuGz3PTPLCdGLpqX_iHHWs-E&callback=initMap">
    </script> --}}

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHr_ttB1Mo6sXr56rPIO50JE5TmVNiu-E&callback=initMap">
        </script>

    {{!--
    <script<src="https: //maps.googleapis.com/maps/api/js?key=AIzaSyAHr_ttB1Mo6sXr56rPIO50JE5TmVNiu-E&callback=initMap">
    </script> --}}