<div class="container">
  <h1>MAPA DE SITIOS</h1>

  <figure id="map"></figure>

  <script src="/javascripts/map-styles.js"></script>
  <script src="/javascripts/map-directions.js"></script>
  <script src="/javascripts/basic-map-config.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUAPIKEY&callback=initMap"></script>
</div>