<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h1>Add a new place</h1>

      <hr>

      <form method="POST" action="/create-new-place">

        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" id="name">
        </div>

        <div class="form-group">
          <label for="name-input">Local Type</label>
          <input name="type" type="text" class="form-control" placeholder="Coffee Shop | Book Store" id="name-input">
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="latitude">Latitude</label>
              <input name="latitude" type="text" class="form-control" id="latitude">
            </div>

          </div>
          <div class="col">
            <div class="form-group">
              <label for="longitude">Longitude</label>
              <input name="longitude" type="text" class="form-control" id="longitude">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-dark btn-block">Create it</button>
      </form>

    </div>
  </div>


</div>