// GENERAL STYLES
body {
  font-family: sans-serif;
  font-weight: 200;
}


// PLACES LIST PAGE
#removing-form button {
  margin: auto;
}

// FORMS
form label {
  display: block;
  font-weight: 600;
  margin-top: 10px;
}

form input{
display: block;
}

form button {
  margin-top: 25px;
}


// GOOGLE MAPS
#places-map {
  height: 450px;
}

#single-place-map {
  height: 450px;
}

.labels {
  text-align: left;
}