<div class="container">
  <h1>Map</h1>

  <figure id="map"></figure>

  <script src="/javascripts/map-styles.js"></script>
  <script src="/javascripts/directions.js"></script>
  <script src="/javascripts/basic-map-config.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWox-Ew5Z4Wm2OMqZSFRhM-IIwzPtxRgU&callback=initBMap"></script>
</div>