<div class="container">

  <h1><strong>{{name}}</strong></h1>

  <hr>

  <br>
  
  <h5>Type:  {{type}}</h5>

  <h5>Localizacion: </h5>
  
  <figure id="placesMap"></figure>

    <a href="/lugares" class="boton btn btn-dark btn-block btn-lg">go back to places </a>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapstyles.js"></script>
<script src="/js/directions.js"></script>
<script src="/js/map-places-app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARPDFgzauMJ8QUNvEJQq-HyfmGLWXPA0U&callback=initMap"></script>