<h2>List Of Places</h2>
<div>
  {{#each data}}
  <a href="/places/{{id}}">
    <hr>
    <h3>{{name}}</h3>
  </a>
  <form action="/places/{{id}}/delete" method="POST">
    <button type="submit" class="btn btn-dark">Delete this place</button>
  </form>
  <a href="/places/edit-place/{{id}}">Edit This Place</a>
  <hr>
  {{/each}}
  <a href="/places/new-place" class="btn btn-dark btn-block btn-lg">Add New Place</a>
  <figure id="map"></figure>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/mapstyles.js"></script>
<script src="js/map-app.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkybxkISvopotXO1U40TZIm6NwT3it_G4&callback=initMap"></script>