<div class="container">

  <h1>List of places</h1>

  <figure id="places-map"></figure>

  <a href="/places/create" class="btn btn-dark btn-block btn-lg">New place</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapstyles.js"></script>
<script src="/js/map-places.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkybxkISvopotXO1U40TZIm6NwT3it_G4&callback=initMap"></script>