<div class="container">
  <h1>{{place.name}}</h1>
  <p><i>{{place.type}}</i></p>
  <p><b>Latitude:</b> {{place.location.coordinates.[0]}}</p>
  <p><b>Longitude:</b> {{place.location.coordinates.[1]}}</p>

</div>