<div class="container">
    <h1>Welcome to {{siteTitle}}</h1>
    <br>
    <br>
    <a class="btn btn-dark" href="/create">Create a new place</a>
    <a class="btn btn-dark" href="/api/places-list">List of our places</a>
</div>