<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6">

      <h1>Add new places</h1>
      <hr>

      <form action="/place/new-place" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="type" name="type" placeholder="coffee shop or bookstore">
        </div>
        <div class="form-group">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" name="latitude">
        </div>
        <div class="form-group">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" name="longitude">
        </div>




        <button type="submit" class="btn btn-dark btn-block">Add</button>

        {{#if errorMessage}}
        <div id="error">
          <p>{{{errorMessage}}}</p>
        </div>
        {{/if}}
      </form>

    </div>
  </div>
</div>