<div id="myMap">hello</div>




<script src="/js/directions.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/map-setup.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC-RsNwk8s6EfqqeelF-1K0UBrjWVtqAM&callback=initMap"></script>