<h1>Places location</h1>

{{!-- aquí vamos a tener el mapa con todos los marcadores de cada place --}}










<div id="placesMap"></div>





{{!-- Scrips para la gestión del mapa en la vista --}}



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC-RsNwk8s6EfqqeelF-1K0UBrjWVtqAM&callback=initMap"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/places-maps.js"></script>




{{!-- //falta meter la función --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC-RsNwk8s6EfqqeelF-1K0UBrjWVtqAM&callback=initMap"></script>